<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OrangeHRMSuite">

    <test name="OrangeHRMTest_chrome">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="TestCase.DummyClass"/>
            <class name="TestCase.DummyClass2"/>
            
            <class name="TestCase.LoginPageTest"/>
        </classes>
    </test>

</suite>



